@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap');


body{
    background: #3E282B;
    box-sizing: border-box;
    padding: 0px 150px;
}
.hero-container{
    display: flex;
}

#map{
    /* display: flex; */
    height: 80vh;
    width: 50%;
    /* outline: 5px solid red !important; */
    border-radius: 50%;
}


.visually-hidden {
  position: absolute;
position: absolute !important;
width: 1px !important;
height: 1px !important;
padding: 0 !important;
margin: -1px !important;
overflow: hidden !important;
clip: rect(0,0,0,0) !important;
white-space: nowrap !important;
border: 0 !important;
}



.text-wrapper{
    /* font-family: 'Merriweather', serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8em;
    color: white;
}

.header {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/* BUTTON */
.demo-button {

  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  margin: 50px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.demo-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.demo-button:hover:after {
  transform: translate(0, 0);
}

.demo-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.demo-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .demo-button {
    padding: 0 40px;
  }
}


/* navbar */

nav{
  background-color: transparent;

}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  /* height from ceiling */
  height: 50px;
  /* outline: auto red; */

}

nav a{
  height: 100%;
  /* gives the space in-between elements */
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  /* outline: auto red; */
}

nav a:hover{
  background-color: #ffdeda;
}

nav li:first-child{
/* Moves logo to the right */
  margin-right: auto;
}


/* This is our base for our navbar */
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  /* Hide display on bigger screens */
  display: none;
  background-color: transparent;
  /* Background will be blurred once opened */
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(255,255,255,0.1);
  flex-direction: column;
  /* for centering elements */
  align-items: flex-start;
  /* for positioning elements */
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

@media(max-width: 800px){
  /* Hidethe close button until mobile appears */
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: flex;
  }
}

@media(max-width: 400px){
  /* maximize the sidebar so that it covers full-screen on mobile*/
  .sidebar{
    width: 100%;
  }
}
